/* Reset CSS */
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HakgyoansimWoojuR',Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

section.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.blog-card {
    border: 1px solid #ddd;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.sidebar {
    width: 250px;
    height: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0; /* 우측에 고정 */
    bottom: 0;
    overflow-y: auto;
}



.sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-list li {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

/* 메인 콘텐츠 영역 */
.content {
    margin-left: 270px;
    padding: 20px;
}

.slider-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}
.slide img {
    width: 500px; /* 이미지 너비를 500px로 고정 */
    height: auto; /* 가로 비율에 맞게 높이 조정 */
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}